.square
  width 64px
  height 64px
  background-color lightgrey
  border 2px solid grey
  display inline-block
#gameBoard
  font-size 0px
  position absolute
  width 64*8px
  left calc(50% - 256px)
ui-view p
  font-style italic
  left 50%
  right 50%
  top -24px
body
  text-align center
